<div class="top-nav">
    <div class="grid-x">
        <div class="columns large-6">
                    <ul class="top-list">
                        <li><i class="fa fa-map-marker" aria-hidden="true">Boston,MA,USA</i></li>
                        <li><i class="fa fa-phone" aria-hidden="true">(617)555-5555</i></li>
                        <li><i class="fa fa-envelope-o" aria-hidden="true"><a href="#">www.BTHosting.com</a></i></li>
                    </ul>
        </div>
        <div class="columns large-6">
                <ul id="menu-top-menu" class="top-list-right">
                    <li class="index.html">Login</li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
        </div>
    </div>
</div>

<div class="top-bar">
        <div class="top-bar-left">
            <h3><span>BT</span> Hosting</h3>
        </div>
        <div class="top-bar-right">
                <ul class="menu">
                    <li class="current"><%= link_to "Home", root_path %></li>
                    <li><a href="#">shared Hosting</a></li>
                    <li><a href="#">VPS Hosting</a></li>
                    <li><a href="#">Detected service</a></li>

                </ul>
        </div>
</div>
