
    <section class="domain-search">
      <div class="row">
        <div class="large-12 medium-12 columns">
          <form class="domain-form">
            <div class="input-group">
              <span class="input-group-label">Find A Domain</span>
              <input class="input-group-field" type="text" placeholder="Search For .com, .net, .org">
              <div class="input-group-button">
                <input type="submit" class="button" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="row about">
      <div class="large-12 columns">
        <h2 class="text-center">About Us</h2>
        <p class="lead text-center">Who Are We?</p>
        <br><hr><br>
        <div class="columns large-6 medium-6">
          <img src="img/person1.jpg">
        </div>
        <div class="columns large-6 medium-6">
            <h3>A Company You Can Trust</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue tortor vel velit rutrum, et varius purus semper. Quisque sit amet lobortis magna. Ut eget viverra elit. Aenean eu congue ante, non eleifend justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
            <h3>24/7 Support</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue tortor vel velit rutrum, et varius purus semper. Quisque sit amet lobortis magna. Ut eget viverra elit. Aenean eu congue ante, non eleifend justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
            <div class="callout primary">
              <h3>99.9% Uptime Guarantee</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue tortor vel velit rutrum, et varius purus semper. Quisque sit amet lobortis magna. Ut eget viverra elit. Aenean eu congue ante, non eleifend justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae</p>
            </div>
        </div>
      </div>
    </section>


    <section class="section-b">
      <h1>A truly reliable web hosting company</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed congue tortor vel velit rutrum, et varius purus semper.</p>
    </section>

    <section class="section-c">
      <div class="grid-x">
        <div class="columns large-3">
          <i class="fa fa-shield" aria-hidden="true"></i>
          <h4>Secure</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="columns large-3">
          <i class="fa fa-flash" aria-hidden="true"></i>
          <h4>Fast</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="columns large-3">
          <i class="fa fa-gears" aria-hidden="true"></i>
          <h4>Stable</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="columns large-3">
          <i class="fa fa-user" aria-hidden="true"></i>
          <h4>Reliable</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </section>

  